<!-- main -->
<main role="main-inner-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
      <article role="pge-title-content">
        <header>
          <h2><span>{{title}}</span> {{claim}}</h2>
        </header>
        <p>{{summary}}</p>
      </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <article class="about-content" [innerHTML]="description">
      </article>
    </section>

    <div class="clearfix"></div>

    <!-- thumbnails -->
    <div class="thumbnails-pan" *ngIf="members">
      <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 " *ngFor="let member of members">
        
        <team-member 
          [data-name]="member.name" 
          [data-position]="member.position"
          [data-image]="member.highlight_image.path" [data-image-alt]="member.highlight_image.alt"></team-member>
      </section>
    </div>
    <!-- thumbnails -->

  </div>
</main>
<!-- main -->