<!-- main -->
<main role="main-inner-wrapper" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
      
      <article role="pge-title-content" class="contact-header">
        <header>
          <h2><span>{{title}}</span> {{claim}}</h2>
        </header>
        <p>
          <a href="tel:{{phone}}" *ngIf="phone !== '' && phone !== null"><i class="fa fa-phone" aria-hidden="true"></i> {{phone}}</a>
          <a href="mailto:{{mail}}" *ngIf="mail !== '' && mail !== null"><i class="fa fa-envelope" aria-hidden="true"></i> {{mail}}</a>
        </p>
      </article>

    </div>

    <!-- map -->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="demo-wrapper">
        
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <agm-map [latitude]="-7.245217594087794" [longitude]="112.74455556869509" [zoom]="16">
          <agm-marker [latitude]="-7.245217594087794" [longitude]="112.74455556869509"></agm-marker>
        </agm-map>
        
      </div>
    </div>
<!-- map -->

    <div class="clearfix"></div>

    <form-contact></form-contact>

  </div>
</main>
<!-- main -->