<!-- main -->
<main role="main-inner-wrapper" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
      
      <article role="pge-title-content" class="contact-header">
        <header>
          <h2><span>{{title}}</span> {{claim}}</h2>
        </header>
        <p>
          <a href="tel:{{phone}}" *ngIf="phone !== '' && phone !== null"><i class="fa fa-phone" aria-hidden="true"></i> {{phone}}</a>
          <a href="mailto:{{mail}}" *ngIf="mail !== '' && mail !== null"><i class="fa fa-envelope" aria-hidden="true"></i> {{mail}}</a>
        </p>
      </article>

    </div>

    <!-- map -->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="demo-wrapper">
        <div id="surabaya"></div>
      </div>
    </div>
    <!-- map -->

    <div class="clearfix"></div>

    <form-contact></form-contact>

  </div>
</main>
<!-- main -->