<!-- footer -->
<footer role="footer">
  <!-- logo -->
  <h1>
    <a href="index.html" title="avana LLC"><img src="./assets/images/logo.png" title="avana LLC" alt="avana LLC"/></a>
  </h1>
  <!-- logo -->

  <!-- nav -->
  <nav role="footer-nav">
    <ul>
      <li><a [routerLink]="['/works']" title="Work">Work</a></li>
      <li><a [routerLink]="['/about']" title="About">About</a></li>
      <li><a [routerLink]="['/blog']" title="Blog">Blog</a></li>
      <li><a [routerLink]="['/contact']" title="Contact">Contact</a></li>
    </ul>
  </nav>
  <!-- nav -->

  <ul role="social-icons">
    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
  </ul>

  <p class="copy-right">&copy; 2019  avana LLC.. All rights Reserved</p>

</footer>
<!-- footer -->