<!-- header -->
<header role="header">
  <div class="container">
    <!-- logo -->
    <h1>
      <a [routerLink]="['/']" title="avana LLC"><img src="../../assets/images/logo.png" title="avana LLC" alt="avana LLC"/></a>
    </h1>
    <!-- logo -->

    <!-- nav -->
    <nav role="header-nav" class="navy">
      <ul>
        <li routerLinkActive="nav-active"><a [routerLink]="['/works']" title="Work">Work</a></li>
        <li routerLinkActive="nav-active"><a [routerLink]="['/about']" title="About">About</a></li>
        <li routerLinkActive="nav-active"><a [routerLink]="['/blog']" title="Blog">Blog</a></li>
        <li routerLinkActive="nav-active"><a [routerLink]="['/contact']" title="Contact">Contact</a></li>
      </ul>
    </nav>
    <!-- nav -->
  </div>
</header>
<!-- header -->