<!-- main -->
<main role="main-home-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
      <article role="pge-title-content">
        <header>
          <h2><span>{{title}}</span> {{claim}}</h2>
        </header>
        <p>{{description}}</p>
      </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

      <work-card 
        [data-title]="'Eliana Dedda'" 
        [data-summary]="'Personal Brand Identity'" 
        [data-roles]="['Identity', 'Branding', 'Web Design', 'UX / UI']"
        [data-image]="'images/home-images/image-1.jpg'" [data-image-alt]="'Eliana Dedda - Visit Cards'"></work-card>
    
      </section>

    <div class="clearfix"></div>
        

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <li>

          <work-card 
            [data-title]="'Studio Thonik'" 
            [data-summary]="'Project for Thonik, design studio based in Amsterdam'" 
            [data-roles]="['Exhibition', 'Branding', 'Web Design']"
            [data-image]="'images/home-images/image-2.jpg'" [data-image-alt]="'Studio Thonik - Totebag'"></work-card>
          
        </li>
        <li>

            <work-card 
            [data-title]="'A Brand'" 
            [data-summary]="'Over 40,000 customers use our themes to power their.'" 
            [data-roles]="['New Agency', 'Branding', 'Identity', 'Web Design']"
            [data-image]="'images/home-images/image-4.jpg'" [data-image-alt]="'Erica Marley - Visit Card'"></work-card>
        
        </li>
      </ul>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <li>

          <work-card 
            [data-title]="'Anatome Milano'" 
            [data-summary]="'Galerie Anatome based in Paris.'" 
            [data-roles]="['Galleria', 'Identity']"
            [data-image]="'images/home-images/image-3.jpg'" [data-image-alt]="'Anatome Milano - Visit Card'"></work-card>

        </li>
        <li>

          <work-card 
            [data-title]="'Another Brand'" 
            [data-summary]="'Over 40,000 customers use our themes to power their.'" 
            [data-roles]="['New Agency', 'Identity', 'Web Design', 'UX / UI']"
            [data-image]="'images/home-images/image-5.jpg'" [data-image-alt]="'Perdiz - Book'"></work-card>

        </li>
      </ul>
    </section>

    <div class="clearfix"></div>

  </div>
</main>
<!-- main -->