<!-- main -->
<main role="main-home-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
      <article role="pge-title-content">
        <header>
          <h2><span>{{title}}</span> {{claim}}</h2>
        </header>
        <p>{{description}}</p>
      </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

      <work-card 
        *ngFor="let project of projects | firstIndex" 
        [data-title]="project.title" 
        [data-shortname]="project.shortname" 
        [data-summary]="project.summary" 
        [data-roles]="project.roles"
        [data-image]="project.highlight_image.path" [data-image-alt]="project.highlight_image.alt"></work-card>

      </section>

    <div class="clearfix"></div>
        
    <div *ngIf="projects">
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
        <ul class="grid-lod effect-2_" id="grid">
          
          <li *ngFor="let project of projects | exceptIndex:0 | firstHalf" >
            <work-card 
              [data-title]="project.title" 
              [data-shortname]="project.shortname"
              [data-summary]="project.summary" 
              [data-roles]="project.roles"
              [data-image]="project.highlight_image.path" [data-image-alt]="project.highlight_image.alt"></work-card>
          </li>
          
        </ul>
      </section>

      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
        <ul class="grid-lod effect-2_" id="grid">

          <li *ngFor="let project of projects | exceptIndex:0 | secondHalf" >
            <work-card 
              [data-title]="project.title" 
              [data-shortname]="project.shortname"
              [data-summary]="project.summary" 
              [data-roles]="project.roles"
              [data-image]="project.highlight_image.path" [data-image-alt]="project.highlight_image.alt"></work-card>
          </li>

        </ul>
      </section>

      <div class="clearfix"></div>
    </div>

  </div>
</main>
<!-- main -->