<!-- main -->
<main role="main-inner-wrapper" class="container">
  <!-- work details -->
  <div class="work-details">

    <div *ngIf="thisProject === null" class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        Loading...
      </div>
    </div>
    
    <div *ngIf="thisProject !== null" class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        
        <header role="work-title">
          <h2>{{thisProject.title}}</h2>
          <a href="{{thisProject.url}}" *ngIf="thisProject.url !== null">Visit online <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </header>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-8">

        <section>
          <div [innerHTML]="thisProject.description"></div>
          
          <p><strong>Role</strong><br/>
          {{thisProject.roles.join(', ')}}</p>
        </section>

      </div>
    </div>
    <div class="clearfix"></div>

    <div class="work-images grid" *ngIf="thisProject !== null && thisProject.images.length > 0">
      <ul class="grid-lod effect-2" id="grid">
        <li *ngFor="let image of thisProject.images">
          <img src="./assets/{{image.path}}" alt="{{image.path}}" class="img-responsive"/>
        </li>
      </ul>
    </div>
  </div>
  <!-- work details -->
</main>
<!-- main -->